*.user
*~
*.old

lib/base/lexerGen.hpp
lib/base/parserGen.hpp
lib/base/parserGen.h
lib/base/parserGen.out
prj/win32/lexerGen.hpp
prj/win32/parserGen.h
prj/win32/parserGen.hpp
prj/win32/Debug/
prj/win32/zenlang.ncb
prj/win32/zenlang.suo
prj/xcode/zenlang/zenlang.xcodeproj/xcuserdata/
prj/xcode/zenlang/DerivedData/
prj/xcode/zenlang/parserGen.h
prj/xcode/zenlang/parserGen.hpp
prj/xcode/zenlang/parserGenhpp
prj/xcode/zenlang/lexerGen.hpp
prj/xcode/zenlang/zenlang.xcodeproj/project.xcworkspace/
prj/qt/zenlang.pro.user
prj/zenlang-build-desktop-Qt_4_8_1_in_PATH__System__Debug/
prj/zenlang-build-desktop-Qt_4_8_1_in_PATH__System__Release/

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a
