*.user
lib/base/lexerGen.hpp
lib/base/parserGen.hpp
lib/base/parserGen.h
lib/base/parserGen.out
*~
*.old
prj/xcode/zenlang/zenlang.xcodeproj/xcuserdata/
prj/win32/Debug/
prj/win32/zenlang.ncb
prj/win32/zenlang.suo

